In [109]:
#IMPORT DE BIBLIOTECAS

import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split, cross_validate
from surprise import accuracy
from surprise.model_selection import cross_validate

from sklearn.decomposition import TruncatedSVD
import os

In [8]:
df_de_cat = pd.read_csv('category_de.txt') # DataFrame Informativo das categorias

In [3]:
clicks_de = pd.read_csv('clicks_de_sample_2.txt', sep = ',', header=0) # df de clicks

In [4]:
# CRIAÇÃO DE COLUNA DE CLICKS POR CATEGORIA
clicks_de.drop(columns = ['Keywords'], axis = 1, inplace=True)
#clicks_de['Category'] = clicks_de['Category'].astype(str)

pontuacao_de = pd.DataFrame(clicks_de['Category'].value_counts()).reset_index()
pontuacao_de.columns = ['Category', 'Pontuacao']
dici = dict(zip(pontuacao_de.Category, pontuacao_de.Pontuacao))

clicks_de['Cat_clicks'] = clicks_de['Category'].map(dici)
clicks_de.sort_values(by='Cat_clicks', inplace = True)

In [5]:
## RENOMEANDO OFERTAS E USUÁRIOS
clicks_de['#User'] = clicks_de['UserId'].map(dict(zip(clicks_de['UserId'].unique(), 
                                                                        range(len(clicks_de['UserId']))))) # Redefinindo indices para usuário apenas como numérico

clicks_de['#Offer'] = clicks_de['OfferTitle'].map(dict(zip(clicks_de['OfferTitle'].unique(), 
                                                                        range(len(clicks_de['OfferTitle']))))) #  Redefinindo indices para ofertas apenas como numérico considerando o OfferTitle

In [9]:
clicks_de = clicks_de.merge(df_de_cat, left_on = 'Category', right_on = 'ID').drop('ID', axis = 1)

In [16]:
abc = clicks_de.groupby(by=['UserId','OfferId']).count()[['Name']].reset_index()

In [19]:
abc['#User'] = abc['UserId'].map(dict(zip(abc['UserId'].unique(), 
                                                                        range(len(abc['UserId']))))) # Redefinindo indices para usuário apenas como numérico

abc['#Offer'] = abc['OfferId'].map(dict(zip(abc['OfferId'].unique(), 
                                                                        range(len(abc['OfferId']))))) #  Redefinindo indices para ofertas apenas como numérico considerando o OfferTitle

In [ ]:
##########Problema########
abc.pivot_table(index = '#User', columns = 'OfferId', values = 'Name')

In [29]:
clicks_de['UserClicks'] = clicks_de['UserId'].map(dict(zip(clicks_de['UserId'].value_counts().index,
                                                           clicks_de['UserId'].value_counts().values))) #Criação de coluna com nº total de cliques do usuário

In [101]:
u, s, v =np.linalg.svd(log)

MemoryError: Unable to allocate 40.5 GiB for an array with shape (73749, 73749) and data type float64

In [137]:
user_item_clicks.head()

     #User  #Offer  UserClicks
95     249      83          75
131    285     106          16
143    297     118          27
173    323     142          14
175    325     144          21

In [136]:
log = user_item_clicks.groupby(by=['#User','#Offer']).count().reset_index()
log['UserClicks'] = 1
display(log.head())

   #User  #Offer  UserClicks
0     15   39249           1
1     15   40512           1
2     15  197414           1
3     15  282037           1
4     15  282096           1

In [98]:
pivo_log = log.pivot_table(columns = '#Offer', index = '#User', values = 'UserClicks')

user_item_clicks

In [152]:
reader = Reader(line_format='user item rating', sep=',', rating_scale = (0,1))
data = Dataset.load_from_df(df = log, reader=reader)

In [ ]:
svd = SVD()
cross_validate(svd, data, measures = ['RMSE','MAE'], cv = 5)

In [24]:
reader = Reader(line_format='user item rating', sep=',')
data = Dataset.load_from_df(df = log, reader=reader)

In [ ]:
#trainset, testset = train_test_split(data, test_size=0.2)
trainsetfull = data.build_full_trainset()
svd.fit(trainsetfull)

In [39]:
trainset_iids = list(trainset.all_items())
iid_converter = lambda x: trainset.to_raw_iid(x)
trainset_raw_iids = list(map(iid_converter, trainset_iids))

In [145]:
log[log['#User']==15]

    #User  #Offer  UserClicks
0      15   39249           1
1      15   40512           1
2      15  197414           1
3      15  282037           1
4      15  282096           1
5      15  282104           1
6      15  282141           1
7      15  282275           1
8      15  282282           1
9      15  282581           1
10     15  282632           1
11     15  283571           1
12     15  287709           1
13     15  287990           1

In [ ]:
## Verificar
SVD_model = SVD()
SVD_model.fit(trainset)
predictions = SVD_model.test(testset)
accuracy.rmse(predictions)

In [151]:
pd.DataFrame(Reader(name = 'jester')

ValueError: DataFrame constructor not properly called!

In [149]:
svd.predict(uid = 15, iid = 50000)

Prediction(uid=15, iid=50000, r_ui=None, est=1, details={'was_impossible': False})

# TESTE 2

In [35]:
trun_svd =  TruncatedSVD(n_components = 2)
A_transformed = trun_svd.fit_transform(user_item_clicks)

In [36]:
A_transformed

array([[ 1.83670207e+02,  1.87501184e+02],
       [ 2.20107216e+02,  2.09795620e+02],
       [ 2.36151573e+02,  2.15328033e+02],
       ...,
       [ 2.66353324e+05, -9.78399244e+04],
       [ 3.19096302e+05,  1.11136679e+04],
       [ 3.20770642e+05,  1.37607552e+04]])